<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ .Title }}</title>
	{{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
	{{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
	<link rel="stylesheet" href="{{ "css/reset.css" | relURL }}">
	<link rel="stylesheet" href="{{ "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"}}">
	<link rel="stylesheet" href="{{ "css/code.css" | relURL }}">
	<link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
	{{ with .OutputFormats.Get "RSS" -}}
		{{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
	{{- end }}

	<!-- Katex -->
	{{ if .Params.math }}{{ partial "katex.html" . }}{{ end }}
</head>
<body>
	<div class="container">{{ partial "header" . }}</div>
	<div class="container">{{ block "main" . }}{{ end }}</div>
	<div class="footer-wrapper">
		<div class="container">{{ partial "footer" . }}</div>
	</div>
</body>
</html>
