<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ .Title }}</title>
	{{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
	{{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
	{{ with .OutputFormats.Get "RSS" -}}
		{{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
	{{- end }}

	<!-- Custom CSS -->
	{{ partial "custom-css" . }}

	<!-- Katex -->
	{{ if or .Params.math .Site.Params.math }}
	{{ partial "katex.html" . }}
	{{ end }}
</head>
<body>
	<div class="container">{{ partial "header" . }}</div>
	<div class="container">{{ block "main" . }}{{ end }}</div>
	<div class="footer-wrapper">
		<div class="container">{{ partial "footer" . }}</div>
	</div>
	{{ partial "custom-script" . }}
</body>
</html>
