{{ define "main" }}
<main id="main" class="post" role="main">
    
    {{ if not .Params.nobreadcrumb }}
    {{ partial "breadcrumb.html" . }}
    {{ end }}
    <article>
        <h1>{{ .Title }}</h1>
        
        {{ partial "post-datetime" . }}

        {{ if not .Params.notoc }}
        <aside class="toc">
            {{ .TableOfContents }}
        </aside>
        {{ end }}
        <div>
            {{ .Content }}
        </div>
        {{ with .Params.tags }}
        {{ partial "tags.html" .}}
        {{ end }}
    </article>
</main>
{{ end }}
