/*-- scss:defaults --*/
@import "style-shared";

/* Navbar */
$navbar-bg: #2c3e50;

/* General */
// $body-bg: #14181e;
$body-color: #ced6dd;
$link-color: #528fe4;
$font-size-base: 1rem;

/* Code */
$code-block-bg: #29313d;
$code-bg: #29313d;
$code-color: #f3c7ee;
